<div class="rvt-container rvt-container--center">
    <div class="rvt-grid">
        <div class="rvt-grid__item-9-md-up">
            <span>
              <span style="font-size: xx-large; font-weight: bold;">Course Reserves Request</span></br></br>


              <div class="rvt-container">
                  <div class="rvt-grid">
                      <div class="rvt-grid__item-9-md-up">
                        <span style="font-size: xx-large;">Welcome, IUPUI instructors!</span>
                      </div>

                      <div class="rvt-grid__item-3-md-up">
                          <span>
                            <div class='rvt-p-all-sm'>
                              <%= link_to "Sign in with IU LOGIN", user_cas_omniauth_authorize_path, class: 'rvt-button' %>
                            </div>
                          </span>
                      </div>
                  </div>
              </div>

              <div style="padding-left:24px;">
              Thanks for choosing to:
              <ul>
                <li>Provide your students with hard copies of course materials for short-term checkout.</li>
                <li>Help students access required texts or items that might be hard to find.</li>
                <li>Reduce the burden of textbook costs for your students.</li>
              </ul>
              </br>
              Click <strong>"Sign in with IU LOGIN"</strong> to add materials and access Course Reserves information.</br>
              <p style="text-align:right; font-style: italic;">Updated Apr 02, 2019 by Richard Schulte</p>
            </span>
          </div>

        </div>
        <div class="rvt-grid__item-3-md-up" style="border:1px solid black;">
            <span>
              <strong>Are you a student?</strong> To see if course reserve materials are available for your class you can:
              <ul>
                <li>Check IUCAT Class Reserves to see what might be available, OR</li>
                <li>Contact the library and ask for help
                  <ul>
                    <li>University Library Service & Information desk:</br>
                        317-274-0472</br>
                        <a href="mailto:renewal@iupui.edu">renewal@iupui.edu</a></br>
                    </li>
                    <li>Herron Art Library:</br>
                        317-278-9484</br>
                        <a href="mailto:halresrv@iupui.edu<">halresrv@iupui.edu</a></br>
                    </li>
               </ul>
              </li>
              </ul>
            </span>
        </div>
    </div>
</div>
