<div class="rvt-container rvt-container--center">
    <div class="rvt-grid rvt-p-all-md">
        <div class="rvt-grid__item-9-md-up">
              <div class="rvt-container">
                  <div class="rvt-grid">
                      <div class="rvt-grid__item-12-md-up">
                        <span class="rvt-ts-32 rvt-text-bold">Welcome, IUPUI instructors!</span>
                      </div>
                  </div>
              </div>
              <div class="rvt-p-left-md rvt-p-bottom-md">
              Thanks for choosing to:
              <ul>
                <li>Provide your students with hard copies of course materials for short-term checkout.</li>
                <li>Help students access required texts or items that might be hard to find.</li>
                <li>Reduce the burden of textbook costs for your students.</li>
              </ul>
              <br/>
              <%= link_to "Sign in with IU LOGIN", user_cas_omniauth_authorize_path, class: 'rvt-button', method: :post %>
          </div>
        </div>

        <div class="rvt-grid__item-3-md-up rvt-border-radius rvt-border-all rvt-p-all-sm">
              <strong>Are you a student?</strong> To see if course reserve materials are available for your class you can:
              <ul>
                <li>Check IUCAT Class Reserves to see what might be available, OR</li>
                <li>Contact the library and ask for help
                  <ul>
                    <li>University Library Service & Information desk:<br/>
                        317-274-0472<br/>
                        <a href="mailto:renewal@iupui.edu">renewal@iupui.edu</a><br/>
                    </li>
                    <li>Herron Art Library:<br/>
                        317-278-9484<br/>
                        <a href="mailto:halresrv@iupui.edu<">halresrv@iupui.edu</a><br/>
                    </li>
               </ul>
              </li>
              </ul>
        </div>
    </div>
</div>
