<div class = "rvt-modal"
     id = "modal-bod"
     role = "dialog"
     aria-labelledby="modal-dialog-title"
     aria-hidden="true"
     tabindex=-1
     data-modal-dialog="true">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
      <h1>Books on Demand Item</h1>
    </header>
    <div class="rvt-modal__body">
      <p>
        This is a Books on Demand item.
        The library will order this book
        on your behalf. In most cases,
        the book can be ordered in
        print or electronic form.
        Please indicate which format
        you would prefer.
      </p>
    </div>
    <div class="rvt-modal__controls">
      <button class="rvt-button"
              data-modal-close="modal-bod">eBook</button>
      <button class="rvt-button rvt-button--secondary"
              data-modal-close="modal-bod">Print Book</button>
      <button class="rvt-button rvt-button--secondary"
              data-modal-close="modal-bod">Cancel</button>
    </div>
  </div>
</div>
