<div class="rvt-modal"
     id="modal-info-digitaloption"
     role="dialog"
     aria-labelledby="modal-info-digitaloption"
     aria-hidden="true"
     tabindex=-1>
     <div class="rvt-modal__inner">
        <header class="rvt-modal__header">
            <h1 class="rvt-modal__title" id="modal-example-title">Digital alternative available</h1>
        </header>

        <div class="rvt-modal__body">
          This selection is for open access, freely-available, or IUPUI-owned
          digital materials. For all other materials please contact the
          librarian for your subject area.
        </div>

        <div class="rvt-modal__controls">
            <button type="button" class="rvt-button" data-modal-close="modal-info-digitaloption">OK</button>
        </div>
        <button type="button" class="rvt-button rvt-modal__close" data-modal-close="modal-info-digitaloption">
            <span class="rvt-sr-only">Close</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
</div>
