<div class = "rvt-modal"
     id = "modal-ebook"
     role = "dialog"
     aria-labelledby="modal-dialog-title"
     aria-hidden="true"
     tabindex=-1
     data-modal-dialog="true">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
      <h1>Online Resource</h1>
    </header>
    <div class="rvt-modal__body">
      <p>
        The item you are trying
        to request is an eBook or
        online resource. These items are
        not available to be placed
        on reserve.
      </p>
    </div>
    <div class="rvt-modal__controls">
      <button class="rvt-button rvt-button--secondary" data-modal-close="modal-ebook">Close</button>
    </div>
  </div>
</div>
