<div class = "rvt-modal"
     id = "modal-non-iupui"
     role = "dialog"
     aria-labelledby="modal-dialog-title"
     aria-hidden="true"
     tabindex=-1
     data-modal-dialog="true">
  <div class="rvt-modal__inner">
    <header class="rvt-modal__header">
      <h1>Item Not Available</h1>
    </header>
    <div class="rvt-modal__body">
      <p>
        The item you are trying
        to request is not available
        through IUPUI University
        Library or through the Herron
        Art Library. <br/><br/>
        If you would like
        to have the item considered for
        purchase, click on <b>Please Purchase</b>.<br/>
        Otherwise, click on <b>Remove Item</b>.
      </p>
    </div>
    <div class="rvt-modal__controls">
      <button class="rvt-button"
              onclick="Modal.close('modal-non-iupui', function(){set_request(true)});
                       return false;">
        Please Purchase
      </button>
      <button class="rvt-button rvt-button--secondary"
              onclick="Modal.close('modal-non-iupui', function(){set_request(false)});
                       return false;">
        Remove Item
      </button>
    </div>
  </div>
  <input type="hidden" id="non_iupui_modal_index" />
</div>
