<div class="rvt-modal"
     id="modal-info-pleasepurchase"
     role="dialog"
     aria-labelledby="modal-info-pleasepurchase"
     aria-hidden="true"
     tabindex=-1>
     <div class="rvt-modal__inner">
        <header class="rvt-modal__header">
            <h1 class="rvt-modal__title" id="modal-example-title">Please purchase</h1>
        </header>

        <div class="rvt-modal__body">
          By selecting <strong>Please Purchase</strong>, a subject librarian will review your request for the libary to purchase this item.
        </div>

        <div class="rvt-modal__controls">
            <button type="button" class="rvt-button" data-modal-close="modal-info-pleasepurchase">OK</button>
        </div>
        <button type="button" class="rvt-button rvt-modal__close" data-modal-close="modal-info-pleasepurchase">
            <span class="rvt-sr-only">Close</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
</div>