<h1 class="rvt-p-bottom-lg rvt-p-top-md">Editing Course #<%= @course.id %></h1>

<div class="rvt-button-group rvt-p-bottom-md">
  <%= link_to 'Show', @course, class: 'rvt-button rvt-button--small' %>
  <%= link_to 'Back', :back, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>

<%= render 'form', course: @course %>
