<h1>Editing Course</h1>

<div class="rvt-button-group rvt-p-bottom-md">
  <%= link_to 'Show', @course, class: 'rvt-button rvt-button--small' %>
  <%= link_to 'Back', courses_path, class: 'rvt-button rvt-button--small rvt-button--secondary' %>
</div>

<%= render 'form', course: @course %>
